<section class="secret-footer" aria-label="Hidden message">
  <p class="secret-footer__eyebrow">WOAH... YOU REALLY LIKE TO SCROLL<br/>DON'T YOU?</p>

  <h2 class="secret-footer__head">
    <span class="secret-pill secret-pill--cmon">C'mon</span>
    <span class="nonit">Hire</span> <em>me</em> <span class="nonit">Already!</span>
    <span class="secret-pill secret-pill--just">Just</span>
  </h2>

  <div class="secret-footer__bottom">
    <a class="secret-footer__cta" href="mailto:luxfordm@gmail.com">Hire me <span class="arr">↗</span></a>
    <p class="secret-footer__tag">not forcing you btw, you-do-you</p>
  </div>
</section>
